/*styling the body*/
body{
  background-color: lightblue;
}

/* Style the app container */
.container {
  display: flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color: #f0f0f0;
}
/* Style the generator body */
.generatorBody {
  padding: 20px;
}

/* Style the generator container */
.generatorContainer {
  width: 80%;
  max-width: 600px;
  border: 2px solid #333;
  border-radius: 10px;
 
}

