body {
    background-color: lightblue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.generatorBody {
    width: 400px;
}

#like-btn {
    margin-left: 10px;
}