/*styling the body*/
body{
  background-color: lightblue;
}

/* Style the app container */
.container {
  display: flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color: #f0f0f0;
}
/* Style the generator body */
.generatorBody {
  padding: 20px;
}

/* Style the generator container */
.generatorContainer {
  width: 80%;
  max-width: 600px;
  border: 2px solid #333;
  border-radius: 10px;

}

/* Style the generator header */
.generatorHeader {
  background-color:black;
  color: white;
  padding: 20px;
  text-align: center;
}
/* Style the motivation text */
#motivation-text {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;

}
/* Style the buttons */
button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Style the get advice button */
#getAdvice-btn {
  background-color:black;
  color: white;
}

/* Style the like button */
#like-btn {
  background-color:black;
  color:#f0f0f0 ;
}
/* Style the generator footer */
.generatorFooter {
  background-color:black;
  color: white;
  padding: 20px;
  text-align: center;
}








